body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Playfair Display", serif;
  text-align: center;
  background: #2f2d35;
  color: #fff;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  max-width: 920px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: #fff;
}

blockquote {
  font-size: 32px;
  margin-bottom: 0.5em;
  font-style: italic;
}

cite {
  font-size: 15px;
}

.buttons {
  margin-top: 3em;
}

.btn {
  border: none;
  border-radius: 15px;
  color: #fff;
  font: 11px Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 15px;
  margin: 0 1em;
  outline: none;
}

#generate {
  background: #3945e2;
}

#generate:hover {
  box-shadow: 1px 1px 25px #3944e241;
}

#twitter {
  background: #5a5375;
}

#twitter:hover {
  box-shadow: 1px 1px 25px #413a5ac0;
}
